.displayphoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}
.imagepod{
    max-width: 40%;
    max-height: 40%;
    min-height: 40%;
    min-width: 40%;
}
/* .gallery-container{
    display: flex;
  
} */
/* .gallimg{
    width: 20em;
    height: 20em;
    padding: 20px;
    border: 1px solid black;
} */
*{
 

}
.nav {
    display: flex;
  justify-content:space-around;
    background-color: black;
    padding: 15px;
    font-size: 2em;
  }
  .navtxt{
    color: rgb(243, 240, 234);
    background: rgb(7, 6, 6);
    text-decoration: none;
  }
.eachcard{
background-color: rgb(182, 182, 182);
border-radius: 10px;
color: aliceblue;
margin: 20px;
max-width: 300px;
  min-width: 300px;
  max-height: 400px;
  min-height: 400px;
}
.image{
  max-width: 300px;
  min-width: 300px;
  max-height: 250px;
  min-height: 250px;
}

  .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
padding: 20px;
 
  }
  .gallerypage{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
